.el-submenu .el-menu-item {
  font-size: 14px;
  padding-left: 55px !important;
  &.is-active {
    background-color: #46637e !important;
  }
}
//elmentui强制变色
// .el-submenu{
//     &.is-active.is-opened .el-submenu__title{
//         background-color: #f56c6c !important;
//     }
// }
